this is login page

error : {{error}}<br>
message : {{message}}

<form action="/auth/login" method="post">
email : <input type="email" name="email" id=""><br>
password : <input type="password" name="password" id=""><br>
<input type="submit" value="submit">
</form>

{{#if logedIn}}
name : {{name}}
email : {{email}}
discription : {{discription}}
token : {{token}}
{{/if}}
