<h2>here are the every users registered :</h2><br><br>
{{#each datas}}
name : {{name}}<br>
email :{{email}}<br>
{{#if discription}}
discription : {{discription}}<br>
{{else}}
discription : not specified<br>
{{/if}}
<form action="/delete" method="post">
<input type="text" name="id" id="id" value="{{_id}}" hidden="true">
<input type="submit" value="delete">
</form>
{{/each}}
<br>
<a href="/auth/register">add user</a>